/* resets, etc. */

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, div {
    margin: 0;
}

a, button {
	cursor: pointer;
}

/* general elements */

/* general blocks */

div.center {
    overflow: hidden;
    width: 1280px;
    margin: 0 auto;
}

/* specific elements */

h1 {
    margin: 0 0 24px 0;
    line-height: 48px;
    font-size: 36px;
}

h2 {
	margin: 0 0 24px 0;
}

form {
	margin: 0 0 24px 0;
}

input.input-url, button.input-submit {
    padding: 5px 8px;
    line-height: 18px;
    font-size: 16px;
}

input.input-url {
    width: 700px;
    margin-right: 12px;
    
}

button.input-submit {
    width: 125px;
}

/* specific blocks */

div.main {
    padding: 48px 0;
}